.card {
  background-color: var(--bg-card-white);
  width: 275px;
  margin: 15px 10px;
  font-family: var(--font-standard);
  border-radius: 3px;
}

.card-name {
  font-size: 1.1rem;
  padding: 1.3rem 2rem;
  font-weight: bold;
  border-bottom: solid 1px var(--border-grey);
}

.card-sprite {
  display: block;
  margin: 0 auto;
  height: 225px;
}

.card-types {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.card-type {
  margin: 4px 4px;
  padding: 3px;
  border-radius: 3px;
  border: solid 1px var(--border-grey);
  text-transform: uppercase;
  font-size: 0.8rem;
}
