.home-wrapper {
  /* height: 100vh;
    max-height: 100vh; */
  min-height: 100vh;
  background-color: var(--bg-home-green);
  font-family: var(--font-standard);
}

.nav-arrow {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  text-align: center;
  font-family: var(--font-standard);
  background: var(--input-green);
}

.gallery-wrapper {
  margin: 0 70px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
