.home-wrapper {
  /* height: 100vh;
    max-height: 100vh; */
  min-height: 100vh;
  background-color: var(--bg-home-green);
  font-family: var(--font-standard);
  padding: 5px;
}

.nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-arrow {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  text-align: center;
  font-family: var(--font-standard);
  background: var(--button-green);
}

.nav-search-input {
  background-color: var(--search-green);
  font-size: 5rem;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  color: var(--font-white);
}
.nav-search-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--font-dark-green);
  opacity: 1; /* Firefox */
}
.nav-search-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--font-dark-green);
}
.nav-search-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--font-dark-green);
}

.gallery-wrapper {
  margin: 0 70px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
