@import "./reset.css";

:root {
  /* Background */
  --bg-home-green: #55a69c;
  --bg-card-white: #ffffff;

  /* Borders */
  --border-grey: #e9e9e9;

  /* Inputs */
  --input-green: #4e988f;

  /* Fonts */
  --font-standard: Verdana, Geneva, sans-serif;
}

* {
  box-sizing: border-box;
}
