@import "./reset.css";

* {
    box-sizing: border-box;
    transition: background 0.75s ease-in-out;
}

/* Removes all link styling, might be too drastic and need changes later */
a {
    text-decoration: none;
    color: inherit;
}
